<div class="submitted">
	<p>Thanks for submitting the form!  You have submitted this form <%= @count %> time(s) now.</p>
</div>
<div class="information">
	<h1>Submitted Information:</h1>
	<p>Name: <%= @student[:name] %></p>
	<p>Dojo Location: <%= @student[:location] %></p>
	<p>Favorite Language: <%= @student[:language] %></p>
	<p>Comment: <%= @student[:comment] %></p>

</div>